<!DOCTYPE html>
<html>
<head>
  <body>
    <br><br>
    <div id="show"><!--<table align="center" width="auto" height="auto" border="0" bordercolor=silver>-->
    <p align="center">
    <form name="formulariocadena">
      <p align="center">
      XML: 
      <input type="file" id="archivotres" onChange="seleccionartres()" class="upfill" />
      <title></title>

      <div id="show"><table align="center" width="auto" height="auto" border="0" bordercolor=silver>
        <p align="center">
        <align="center">
        <br/>
        <br/>
        <center>

        <input type="button" value="Crear" onClick="cad()" align="center" class="btn btn-success"> 
            
        <form name="select_all">
        </form></center>
        </p>
           
        <!--</table>-->
      </div>
      <p align="center">
      <align="center">
      <textarea class="form-control" readonly type="text" cols="60" rows="10" name="Text1" id="Text1" value="" ></textarea> 
    </form>

    <br><input value="Seleccionar texto" onclick="javascript:this.form.Text1.focus();this.form.Text1.select();" type="button" class="btn btn-success"/>

    </p>
    
  </body>
</head>
</html>