<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <br><br>
  <script language="javascripta"> 


function seleccionartres()
{
  //selecciono todos los 'inputs'
  var allinputs = document.getElementsByTagName("input");
  //creo un array para almacenar solo los inputs que voy a utilizar
  var inputs = new Array(); var j2 = 0; //La variable 'j' la utilizo como apuntador en el array 'input'
  //recorro todos los inputs recogidos
  for(i2=0; i2<allinputs.length; i2++)
  {
    //extraigo los inputs con la clase especifica para subir archivos
    if (allinputs[i2].className == "upfil")
    {
      //aca realizo el paso de los inputs(si el input tiene una clase 'upfil' entonces los aparto en un array en limpio)
      inputs[j2] = allinputs[i2];
      j2++; //incremento el apuntador para el proximo input a almace
    }
  
}
  comprobacioncad(inputs); //llamada a la funcion que comprueba los inputs en cuestion

} 


function comprobacioncad(iarraycd,archivotres)

{ 
  for(m2=0; m2 < iarraycd.length; m2++) //recorro el array con los inputs
  {

    var ca2 = iarraycd[m2].value; //tomo el valor del primer input
    var s2 = ca2.lastIndexOf("."); //obtengo la posision del ultimo punto en la cadena(el que precede a la extencion) 
    var miarr2 = new Array("xml"); //Declaro un array con las extensiones permitidas 
   


for (i2 = 0; i2 < miarr2.length; i2++) //bucle en el que compruebo las extensiones permitidas
    {
      var charfind2 = ca2.substr(s2+1,4); //extraigo las ultimas 4 letras despues del punto (posision 's+1')
      charfind2 = charfind2.toLowerCase(); //convierto la extraccion a minisculas para evitar comprobaciones erroneas
      if(charfind2 == miarr2[i2]) //compruebo la extencion obtenida con las permitidas
      {
        
        alert("Archivo "+(m+1)+" validado"); //si es correcta aviso que esta validado
        break; //termino blucle
      }
  if(i2 == miarr2.length - 1) //si se ha llegado a la ultima pasada en el bucle aviso que se ha introducido una extension erronea
      {
       
        alert("Has introducido una extension erronea en el archivo marcado" ) //+ (m+1)); //envio alerta
      }
    

        }
  }
}

function comprobarca(){
    

           if (document.formulariocadena.archivotres.value=="")
              {
            alert("Usted no ha ingresado ningun archvo! ");
}

}
  
</script>

<div id="show"><!--<table align="center" width="auto" height="auto" border="0" bordercolor=silver>-->
   <p align="center">

<p align="center">
 XML: 
<input type="file" id="archivotres" onChange="seleccionartres()" class="upfil" />
  <title></title>
</head>

<form name="formulariocadena">

<body>
<div id="show"><table align="center" width="auto" height="auto" border="0" bordercolor=silver>

<p align="center">
<align="center">
                <br />
              <br />
              <center>
<input type="button" value="Validar" onClick="comprobarca()" align="center" class="btn btn-success"> 
              <form name="select_all">
              </form></center>
                </p>
           
<!--</table>--></div>
<p align="center">
<align="center">
        <textarea class="form-control" readonly type="text" cols="60" rows="10" name="Text1" id="Text1" value="" ></textarea> 
        </form>
        <br><input value="Seleccionar texto" onclick="javascript:this.form.Text1.focus();this.form.Text1.select();" type="button" class="btn btn-success"/>

                </p>
            </td> 
          </tr>
</body>
</html>